---
- name: create secret for username and password for mongo-db
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: mongo-secret
        namespace: default
      data:
         mongo-user: bW9uZ291c2Vy
         mongo-password: bW9uZ29wYXNzd29yZA==
      type: Opaque
